<div style="margin:20px">
    <div style="display: flex">
        <h3> <span [innerHTML]="constantShowed.symbol"></span> Details:</h3>
        <button style="margin:5px" class="btn btn-success" (click) = "deleteOn()">Delete</button>
    </div>
    <br>
    <div>
        <div><span>Name: </span> <span [innerHTML]="constantShowed.name"></span> </div>
        <br>
        <div><span>Value: </span><span [innerHTML]="constantShowed.value"></span> </div>
        <br>
        <div><span>Updated: </span>{{ constant.updatedAt }} | <span>Created: </span>{{ constant.createdAt }}</div>
        <br>
        <a routerLink="/gallery">back to gallery</a>
    </div>
    <br>
    <form #form="ngForm" (ngSubmit)="updateConstant(form.value)">
        <div class="form-group">
            <label for="nameField">Name:</label>
            <input #title name="nameField" class="form-control" [ngModel]="constant.name">
            <br />
            <label for="symbolField">Symbol:</label>
            <input name="symbolField" class="form-control" [ngModel]="constant.symbol">
            <br />
            <label for="valueField">Value:</label>
            <input name="valueField" class="form-control" [ngModel]="constant.value">
        </div>
        <button class="btn btn-success" type="submit">Save</button>
    </form>
</div>

