<div style="margin:10px">
    <h3> Upload a Constant</h3>
    <form #newConstantForm="ngForm" (ngSubmit)="save(newConstantForm)" style="margin:15px">
      <div>
          <label>Symbol:
            <input required minlength="1" #symbol="ngModel" placeholder="Symbol" name="title" class="form-control" [(ngModel)]="constant.symbol">
          </label>
          <div *ngIf="symbol.invalid && (symbol.dirty || symbol.touched)" class="alert alert-danger">
                You must provide a symbol for the new constant.
          </div>
          <br/>
          <label>Name:
            <input required minlength="1" #name="ngModel" placeholder="Name" name="name" class="form-control" [(ngModel)]="constant.name">
          </label>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                You must provide a name for the new constant.
          </div>
          <br/>
          <label>Value:
            <input required minlength="1" #value="ngModel" placeholder="Value" name="value" class="form-control" [(ngModel)]="constant.value">
          </label>
          <div *ngIf="value.invalid && (value.dirty || value.touched)" class="alert alert-danger">
                You must provide a value for the new constant.
          </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!newConstantForm.valid">Save</button>
    </form>
</div>
